@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: linear-gradient(176deg, #020314, #212559);
    background-size: 400% 400%;

    -webkit-animation: background 13s ease infinite;
    -moz-animation: background 13s ease infinite;
    animation: background 13s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@-moz-keyframes background {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@keyframes background {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}